@import "http://";
@charset "utf-8";

body, html {
	font-family: "メイリオ", "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	height: 100%;
	font-size: 100%;
	line-height: 2
	color: #666666;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: none 0;
}

/*===========================================
メイン
============================================*/
#main {
	position: absolute;
	top: 0%;
	height: 100%;
	left: 21%;
	width: 79%;
	overflow-y: scroll;
}
#main header {
	position: fixed;
	top: 0%;
	height: 40px;
	left: 20%;
	width: 80%;
	background-color: #E6E6E6;
	padding-bottom: 0.5em;
	z-index: 100;
}
#main p {
	font-size: 95%;
	padding-left: 1em;
	padding-right: 2em;
}
#main h1 {
	font-size: 200%;
	font-weight:normal;
	padding: 0;
	margin-left: 3em;
}
#main h2 {
	font-size: 130%;
	font-weight: normal;
	margin-right: 2em;
	margin-top: 2.5em;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 6px solid #F5A9F2;
	border-bottom: 3px solid #F5A9F2;
}
#main h3 {
	font-size: 110%;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
	margin-left: 0.5em;
	padding-left: 10px;
	padding-right: 50px;
}
/*ヘッダやクラスの識別用のみ*/
#main h4 {
	font-size: 100%;
	font-weight: normal;
	font-style: oblique;
	margin-left: 5%;
	margin-top: 5em;
}
#main table {
	font-size: 100%;
	border: solid 1px #000000;
	border-collapse: collapse;
	border-color: #2E2E2E;
}
#main th {
	border: solid 1px #2E2E2E;
}
#main td {
	border: solid 1px #2E2E2E;
}

#main code {
	font-size: 105%;
	background-color: #FAFAFA;
}
#main pre {
	font-size: 105%;
	background: #F2F2F2;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #CEF6F5;
	border-radius: 10px;
	padding: 10px;
}

/*===========================================
メニュー
============================================*/
#menu {
	position: absolute;
	top: 0%;
	height: 100%;
	left: 0%;
	width: 100%;
	overflow-y: scroll;
}
#menu h3 {
	font-size: 135%;
	font-weight: normal;
	margin-top: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-left: 3px solid #CCCCCC;
	border-right: 3px solid #CCCCCC;
}
//検索フォーム用
#menu input {
	width: 50px;
}
#menu ul {
	margin-left: 1em;
}


a {
	font-size: 100%;
	text-decoration: none;
}

a:hover {
	font-size: 100%;
	color: #337ED2;		/*リンク部分のカーソルオーバー時の文字色*/
}

a:link {
	font-size: 100%;
	color: #337ED2;		/*リンク部分の文字色*/
}

a:visited {
	font-size: 100%;
	color: #56AEE1;
}
